@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

.card{
    border-radius: 20px;
    background-color: #1e7a9c;
    width: 25%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
}


.card_header{
    border: 1px solid #57bfd9;
    margin-bottom: 20px;
    background-color: #57bfd9;
    border-radius: 20px 20px 0 0;
}

.Cont_Input{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
    margin-top: 20px;
    transition: transform 0.5s ease;

}

.Cont_Input:hover{
    transform: scale(1.1);
}

.Cont_dualInput{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.inputForm{
    border: none;
    border-radius: 5px;
    margin-top: 5px;

}

.des_form{
    height: 60px;
	width: 80%;
    resize: none;
    overflow: auto;
	margin-top:15px;
}

.center{
    align-items: center;
}

.btnForm{
    width: 280px;
    height: 60px;
    text-align: center;
    background-color: #57bfd9;
    border-radius: 25px;
    margin-top: 40px;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
  	font-weight: 900;
  	font-style: italic;
    font-size: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  }

  .btnForm:hover{
    transform: scale(1.1);
    background-color: #7ad2e6;
  }

  .calen{
    width: 70%;
  }